*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 235, 253);
}

.form-container,
.container {
  max-width: 300px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #000000;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  color: #007bff;
  font-size: 24px;
  font-weight: 700;
}

.container h2 {
  color: rgba(126, 38, 207, 0.76);
}

.container button {
  background-color: rgba(126, 38, 207, 0.76);
}

.info-container h2 {
  color: rgba(2, 119, 2, 0.979);
  font-weight: 700;
}

.info-container button {
  background-color: rgba(2, 119, 2, 0.979);

}

label {
  display: block;
  margin-top: 1rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
}

button {
  margin-top: 1rem;
  padding: 0.75rem;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
}

.error {
  color: red;
  font-size: 0.875rem;
}

.info-container {
  max-width: 300px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #000000;
  border-radius: 12px;
  text-align: left;
}
